# Python
__pycache__/
*.pyc
.venv/
venv/

# Airflow & Logs
logs/
airflow_logs/
*.log

# OS
.DS_Store

# Env files
.env

# Data files (keep only sample if needed)
data/*.csv
!data/train.csv